.control-bar {
  position: relative;
  background-color: hsla(0, 0%, 90%, 1);
  border-radius: 10px;
  padding: 1rem;
  padding-bottom: 0.25rem;
  margin-top: 3rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;

  body.header-not-at-top & {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;

    border-radius: 0px;
    margin-top: 0;
  }

  @media only screen and (max-width: 54.5em) {
    align-items: stretch;
    padding: 0.75rem;
  }

  @media only screen and (max-width: 37.5em) {
    align-items: stretch;
  }
}

.sticky-content {
  padding-top: 2rem;

  @media only screen and (max-width: 37.5em) {
    padding-top: 3rem;
  }
}
