@import '../styles/variables';

.container {
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  padding: 1.25rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  // flex-grow: 1;

  box-shadow: 0 1rem 2rem rgba(#000, 0.15);
  transition: all 0.2s;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    // cursor: pointer;
  }
}

.image {
  max-width: 240px;
  margin-bottom: 1.2rem;
}

.data {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  align-items: center;
  /* margin: 1rem 0; */
}

.field-title {
  margin-right: 0.6rem;
  opacity: 0.6;
}

.field-content {
  font-weight: 400;
}

.flag {
  width: 35px;
}

.price-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  margin-top: 1.5rem;
}

.price {
  font-size: 1.8rem;
  color: $primary-color;
  // font-weight: 700;
}
