@import '../styles/variables';

.container {
  margin-bottom: 3rem;
  margin-right: 3rem;
  padding: 1.25rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  // flex-grow: 1;
  max-width: 25rem; // 25 * 16 = 400px

  box-shadow: 0 1rem 2rem rgba(#000, 0.15);
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    // cursor: pointer;
  }

  &:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.image {
  max-width: 22rem;
  margin-bottom: 1.25rem;
  // min-height: 16.5rem;
  // min-width: 200px;
}

.data {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  align-items: center;
}

.field-title {
  margin-right: 0.6rem;
  opacity: 0.6;
}

.field-content {
  font-weight: 400;
}

.flag {
  width: 35px;
}

.price-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  margin-top: 1rem;
}

.price {
  font-size: 1.8rem;
  color: $primary-color;
  // font-weight: 700;
}

.price-locations-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  margin-top: 1.5rem;
}

.price-locations {
  font-size: 1.2rem;
  color: $dark;
  // font-weight: 700;
}
