.container {
  margin: 1.5rem 0;
  padding: 1.5rem;
  background-color: #eee;
  /* display: flex; */
  flex-direction: row;
}

.image {
  max-width: 250px;
  margin-bottom: 1.5rem;
}

.data {
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  /* margin: 1rem 0; */
}

.field-title {
  font-weight: 700;
  margin-right: 0.75rem;
}
