.header {
  background-color: #5386e4;
  margin-bottom: 1.45rem;
  padding: 1.45rem 1.0875rem;
  max-width: 1200;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-right {
  margin: 0 auto;
}

.header-left {
  margin: 0 auto;
  justify-content: flex-end;
}
